body {
  font-family: 'lato-light', Arial, serif;
  font-weight: 300;
  font-size: 16px;
  color: #202020;
  line-height: 1.3;
  opacity: 0;
  transition: opacity .2s;
}

button,
input,
textarea,
select {
  font-family: 'lato-light', Arial, serif;
  font-weight: 300;
  font-size: 16px;
}

.btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  padding: 0 13px;
  font-family: 'lato-light', Arial, serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  transition: all .2s;
}

.btn_red {
  border-color: #e3af56;
  color: #e3af56;
}

.btn_red:hover {
  background: transparent;
  opacity: .7;
  color: #e3af56;
}

.btn_red_bg {
  background: #e3af56;
  border-color: #e3af56;
  color: #FFF;
}

.btn_red_bg:hover {
  background: #e3af56;
  opacity: .7;
}

.design__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px;
  background: #e3af56;
  color: #FFF;
}
.schedule__head_red {
  color: #e3af56;
}

.schedule__head {
  padding-bottom: 18px;
  border-bottom: 1px solid;
  font-size: 34px;
  letter-spacing: 3.2px;
  color: #1b586d;
}